* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background-color: #7fffd4;
}

.box {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    margin-top: 25px;
}

header .row {
    justify-content: space-around;
    align-items: center;
}

.clicked {
    background-color: #80BDE3;
}